# Ignore build folder
build/

# Ignore generated executables
autocomplete

# vs
.vscode/
*.vscode
.vs/
*.vs
.qtcreator/
*.qtcreator
*.ini

# Ignore Mac system files
.DS_Store

# Ignore temporary files
*.o
*.obj
*.log